<h5>Confirmed Covid-19 Cases by Country</h5>
<div class="sub-heading">
  Countries with the highest confirmed cases as of March 31st, 2020
</div>
<div class="chart-container">
  <canvas id="cases-by-country"></canvas>
</div>
<span class="source" style="margin-bottom: 20px;">Source: Johns Hopkins</span>
<br>
<hr />
<h5 style="margin-top: 20px;">Covid-19 Deaths by Country</h5>
<div class="sub-heading">
  Countries with the highest confirmed cases as of March 31st, 2020
</div>
<div class="chart-container">
  <canvas id="deaths-by-country"></canvas>
</div>
<span class="source" style="margin-top:10px;">Source: Johns Hopkins</span>
