<h3>Trends in Video Streaming Platforms</h3>
<br>
<h5>Netflix Leads in Subscribers</h5>
<div>
    Netflix has a strong lead in subscriber count compared to its competitors.
</div>
<canvas id="myChart" width="700" height="400"></canvas>
<span class="source">Source: Flixed.io</span>

<h4>To do</h4>
<ol>
    <li>Refresh charts on window scroll (especially on mobile</li>
    <li>Make sure side navigation is mobile friendly</li>
    <li>Start a youtube channel to walk through these visual essays</li>
    <li>Make visualization for movie box office results</li>
</ol>