#chart-nav {
    border-right: 1px solid lightgrey;
    margin-right: 20px;
    padding-left: 20px;
    display: inline-block;
    width: 175px;
    height: 800px;
}

#chart-wrapper {
    display: inline-block;
}