.active {
  text-decoration: underline;
}

#chart-nav {
  border-right: 1px solid lightgrey;
  margin-right: 20px;
  margin-top: -15px;
  padding-left: 20px;
  padding-top: 15px;
  display: inline-block;
  width: 125px;
  height: 150vh;
  vertical-align: top;
  /* TODO - make horizontal add certain width... */
}

#chart-nav a {
  display: block;
  margin-top: 15px;
}

#chart-nav nav {
  padding-top: 20px;
}

#chart-wrapper {
  display: inline-block;
  margin-left: 50px;
}
