#chart-nav {
    border-right: 1px solid lightgrey;
    margin-right: 20px;
    margin-top: -15px;
    padding-left: 20px;
    padding-top: 10px;
    display: inline-block;
    width: 175px;
    height: 800px;
    vertical-align: top;
}

#chart-nav nav {
    padding-top: 20px;
}

#chart-wrapper {
    display: inline-block;
}