.sub-heading {
  margin-bottom: 15px;
}

.chart-container {
  position: relative;
  height: 50vh;
  width: 70vw;
  margin-top: 10px;
}

.video-list {
  height: 250px;
  width: 70vw;
  overflow-y: scroll;
}

.video-list li:not(:first-child) {
  margin-top: 5px;
}

/* Show scrollbar by default */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

hr {
  width: 100%;
}

.channel-name {
  font-weight: bold;
}
