<h5>Top 50 Trending Videos in the United States</h5>
<div class="sub-heading">
  Looking at YouTube data from May 1st, 2020 (
  <a href="http://youtube.com/trending" target="_blank"
    >http://youtube.com/trending</a
  >
  )
</div>
<ol class="video-list">
  <li *ngFor="let item of videoData">
    <span class="channel-name">{{ item.channel }}</span
    >: {{ item.title }}
  </li>
</ol>
<hr />
<h5>Top 50 Trending Videos by Category</h5>
<div class="sub-heading">
  Music videos are often found on the trending page
</div>
<div class="chart-container">
  <canvas id="cases-by-country"></canvas>
</div>
<span class="source" style="margin-bottom: 20px;">Source: YouTube (2020) </span>
<br />
<hr />
