.sub-heading {
  margin-bottom: 15px;
}

.chart-container {
  position: relative;
  height: 50vh;
  width: 70vw;
  margin-top: 10px;
}

.video-list {
  height: 250px;
  width: 70vw;
  overflow-y: scroll;
}

.video-list li:not(:first-child) {
  margin-top: 5px;
}

/* Show scrollbar by default */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

hr {
  width: 100%;
}

.channel-name {
  font-weight: bold;
}

#stats li {
  margin-top: 10px;
}
