<h5>Population by Continent</h5>
<div class="sub-heading">
  Asia leads all continents with its 4.64 billion people
</div>
<div class="chart-container">
  <canvas id="cases-by-country"></canvas>
</div>
<span class="source" style="margin-bottom: 20px;"
  >Source: UN.org (2019)
</span>
<br />
<hr />
<h5>Largest Populations in Asia</h5>
<div class="sub-heading">
  China and India stand out among these other countries
</div>
<div class="chart-container">
  <canvas id="top-ten-asia"></canvas>
</div>
<span class="source" style="margin-bottom: 20px;"
  >Source: worldbank.org (2018)
</span>
<br />
<hr />
