.navbar {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
}

a {
  color: steelblue;
}

.source {
  color: darkgrey;
  float: right;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 25px;
}